.App {
	font-family: sans-serif;
	text-align: center;
	margin: 15px;
}
.list-mapper-button-bar button {
	display: block;
	width: 100%;
	border-radius: 0;
}

.list-mapper .selected-item {
	background-color: #7abc1e;
	color: white;
	border: 1px solid #7abc1e;
	text-align: left;
	padding: 3px;
}

.list-mapper .selectable-item {
	background-color: inherited;
	color: inherited;
	border: 1px solid #eaeaea;
	text-align: left;
	padding: 3px;
}
